html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: #0f0f0f;
  height: 100vh;
  display: grid;
  place-items: center;
}

/* html {
  font-size: 62.5%;
} */

.app-videos {
  height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde Scrollbar no Chrome, Safari e Opera */

.app-videos::-webkit-scrollbar {
  display: none;
}

/* Esconde Scrollbar no IE, Edge e Firefox */

.app-videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}